* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}


.content {
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.top_spacer {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
}

.main_stuff {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bot_spacer {
    height: 10vh;
}

#input {
    margin: 50px  0 30px;
    height: 30px;
    font-size: 18px;
    padding: 2px;
    outline: none;
}

#input[type=text]:focus {
    border: 2px solid #555;
    transition: .5s;
  }

#add_button {
    font-size: 20px;
    padding: 5px;
}

.item-box {
    display: flex;
    margin: 10px 0;
}

.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 2px 12px;
    flex-direction: column;
}

.item {
    border: 1px solid black;
    display: flex;
    background-color: antiquewhite;
    padding: 12px;
    width: 50vw;
    justify-content: center;
}

.clear_button {
    background-color: red;
    border: none;
    height: 20px;
    width: 30px;
}

.done_button {
    background-color: greenyellow;
    border: none;
    height: 20px;
    width: 30px;
    margin-bottom: 5px;
}
